:root {
  --Darkcyan: hsl(185, 75%, 39%);
  --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
  --Darkgrayishblue: hsl(227, 10%, 46%);
  --Darkgray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: var(--Darkcyan);
}
.attribution {
    margin-top: 5rem;
  background: var(--Darkcyan);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
section.main-background {
    max-width: 1440px;
    background: var(--Darkcyan);
    height: 100vh;
    background-image: url(/images/bg-pattern-top.svg),
    url(/images/bg-pattern-bottom.svg);
    background-position: -100% 160%, 170% -90%;
    background-repeat: no-repeat, no-repeat;
    background-size: 978px 978px, 978px 978px;
    background-attachment: fixed,fixed;
    padding: 5%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 380px;
    background: #fff;
    border-radius: 1rem;
    transition: all 0.5s;
}

div.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.card-top {
    width: 100%;
    height: 35%;
    padding: 3rem;
    background: url(images/bg-pattern-card.svg);
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
    position:relative;
}
div.card-bottom {
    width: 100%;
    align-items: center;
}

div.img-container img {
    /* width: 100%; */
    border-radius: 50%;
}
div.img-container{
    width: 6.5rem;
    height: 6.5rem;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -3.25rem;
    right: 50%;
    transform: translate(50%,-10%);
}

div.card-description {
    margin-top: 3rem;
    text-align: center;
}

p.profile-name{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--Verydarkdesaturatedblue);
}

p.profile-name span {
    margin-left: 0.7rem;
}

p.profile-name span,
p.profile-location,
p.followers-name,
p.likes-name,
p.photos-name{
    color: var(--Darkgray);
}

p.profile-location{
    margin: 1rem 0;
    font-size: 1.1rem;
}

p.followers-figure,
p.likes-figure,
p.photos-figure {
    color: var(--Verydarkdesaturatedblue);
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

div.card-stats{
    margin: 1rem 0 2rem 0;
    padding: 1rem 5%;
    border-top: 1px solid var(--Darkgrayishblue);
  display:flex;
  flex-direction: row;
  justify-content: space-around; 
}

div.followers,
div.likes,
div.photos {
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width:425px){
    div.card {
        width: 300px;
    }
    section.main-background {
       
        background-position: -20% -40%, 130% 110%;
        background-repeat: no-repeat, no-repeat;
        background-size: 238px 238px, 238px 238px;
        
    }
    
    div.card{
        display:block;
    }
}
@media screen and (max-width:320px){
    div.card {
        width: 250px;
    }
}