@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --Darkcyan: hsl(185, 75%, 39%);
  --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
  --Darkgrayishblue: hsl(227, 10%, 46%);
  --Darkgray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: var(--Darkcyan);
font-family: 'Kumbh Sans', sans-serif;
}
.attribution {
    margin-top: 5rem;
  background: var(--Darkcyan);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
section.main-background {
    max-width: 1440px;
    background: var(--Darkcyan);
    height: 100vh;
    background-image: url(/images/bg-pattern-top.svg),
    url(/images/bg-pattern-bottom.svg);
    background-position: -100% 160%, 170% -90%;
    background-repeat: no-repeat, no-repeat;
    background-size: 978px 978px, 978px 978px;
    background-attachment: fixed,fixed;
    padding: 5%;
    display: grid;
    place-content: center;
}

div.card {
    text-align: center;
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 1fr;
    border-radius: 0.65rem;
    background: var(--Darkcyan);
    box-shadow: 1px 2px 5px var(--Darkgrayishblue);
    transition: all 0.6s ease;
}
div.card:hover {
  transform:scale(1.039);
    box-shadow: 2px 4px 10px var(--Darkgrayishblue);
}

div.card-top{
  height: 7.8rem;
  border-radius: 0.65rem 0.65rem 0 0;
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: repeat;
  background-position: center;
  position: relative;
  padding: 2rem;
}

div.img-container {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)
}

div.img-container img{
  background: #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

div.card-bottom{
  background: #fff;
  border-radius: 0 0 0.65rem 0.65rem;
}

div.card-description{
  padding: 1rem 2rem;
  margin: 1.45rem;
}

p.profile-name{
  color: var(--Verydarkdesaturatedblue);
  font-size: 18px;
  font-weight: 700;
  margin-top: 1.5rem;
}
p.profile-name span{
  color: var(--Darkgray);
  font-size: 18px;
  font-weight: 400;
  margin-left: 0.35rem;
}

p.profile-location {
  margin: 0.75rem 0;
  color: var(--Darkgray);
  font-size: 0.9rem;
}

div.card-stats {
  border-top: 0.5px solid var(--Darkgray);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.followers,
div.likes,
div.photos {
  margin: 0.5rem 1.5rem;
  /* padding: 0.5rem; */
}

p.followers-figure,
p.likes-figure,
p.photos-figure {
  font-weight: 700;
  color: var(--Verydarkdesaturatedblue);
}

p.followers-name,
p.likes-name,
p.photos-name {
  font-weight: 400;
  color: var(--Darkgray);
  font-size: 0.69rem;
  margin: 0.7rem 0;
}



@media screen and (max-width:425px){
   div.card {
        width: 300px;
    }
    section.main-background { 
        background-position: -20% -40%, 130% 110%;
        background-repeat: no-repeat, no-repeat;
        background-size: 238px 238px, 238px 238px;
        display: grid;
        place-content: center;
    } 
    
    
}


@media screen and (max-width:320px){
     div.card {
        width: 250px;
    }
    section.main-background { 
      background-position: -20% -40%, 130% 110%;
      background-repeat: no-repeat, no-repeat;
      background-size: 238px 238px, 238px 238px;
  } 
}